clog
TODO
*.md
php-5.*.xz
php-7.*.xz
php-7.*.xz.asc
/php-8.0.*.tar.xz
/php-8.0.*.tar.xz.asc
/php-8.1.*.tar.xz
/php-8.1.*.tar.xz.asc
/php-8.2.0RC5.tar.xz
/php-8.2.0RC5.tar.xz.asc
/php-8.2.0RC6.tar.xz
/php-8.2.0RC6.tar.xz.asc
