clog
TODO
*.md
php-7.*.xz
php-7.*.xz.asc
php-8.1.*.xz
php-8.1.*.xz.asc
/php-8.0.14.tar.xz
/php-8.0.14.tar.xz.asc
/php-8.0.15.tar.xz
/php-8.0.15.tar.xz.asc
/php-8.0.16.tar.xz
/php-8.0.16.tar.xz.asc
/php-8.0.17.tar.xz
/php-8.0.17.tar.xz.asc
/php-8.0.18.tar.xz
/php-8.0.18.tar.xz.asc
/php-8.0.19.tar.xz
/php-8.0.19.tar.xz.asc
/php-8.0.20.tar.xz
/php-8.0.20.tar.xz.asc
/php-8.0.21.tar.xz
/php-8.0.21.tar.xz.asc
/php-8.0.22.tar.xz
/php-8.0.22.tar.xz.asc
